

.cd-cube{
    width: 42%;
    margin: 4%;
    height: 42%;
    border-radius: .2rem .1rem;
    background-color: #c2c2c2;
    border: .08rem solid var(--text);
    float: left;
    transition: all .4s ease-in-out;
}

