@import "tailwindcss";


:root { 
  --bg: #f0eded ;
  --bg-alt:#cbc9c9;
  --primary:#027bff;
  --text: #383838;

  --pulse-dark: #1077BC;
  --pulse: #58A0D3;

  --font-family: Verdana, sans-serif;
}

.dark {
  --bg: #191919;
  --bg-alt: #383838;
  --primary:#ffd700;

  --text: #F0F0F0;
  --border: #ffd700;


  --pulse-dark: #ffd700;
  --pulse: #ffd700;
}

body,
html,.page {
  height: 100svh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  background-color: var(--bg);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.page{
  background-color: var(--text);
  color: var(--bg);
}


/* Rende invisibile la scrollbar */
::-webkit-scrollbar {
  width: 1px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

