
.container {
  height: 50vh;
  width: 70vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid var(--pulse);
  border-radius: 25px;
  background-color: var(--bg);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10%;

  transition: box-shadow 0.5s ease;

  box-shadow: 0 0 20px var(--bg-alt);
  /* box-shadow: 0 0 20px var(--arancione); */

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
  height: 18%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: var(--opposite);
  margin-bottom: 5%;
  border-radius: 25px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--opposite);
  margin-bottom: 8%;
  border-bottom: white 2px solid;
  padding-bottom: 5px;
}

.username,
.password {
  width: 100%;
  margin-top: 2%;
}

.username h3,
.password h3 {
  margin-bottom: 1%;
  font-size: 14px;
  color: var(--opposite);
}

.username input,
.password input {
  width: 85%;
  padding: 5%;
  border-radius: 8px;
  background-color: var(--bg-alt);
  color: var(--text);
  font-size: 14px;
}

.username input:focus,
.password input:focus {
  border-color: var(--primary-dark);
  outline: none;
  background-color: var(--bg);
}

.loadingComp {
  width: 10vw;
  height: 5vh;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translateX(-50%);
}

.btnAccedi {
  height: 10%;
  width: 70%;
  margin-top: 20%;
  border: none;
  border-radius: 8px;
  background-color: var(--opposite);
  color: #1e1e1e;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: var(--bg);
}

.btnAccedi:hover {
  background-color: var(--opposite);
  transform: scale(1.03);
  
}

/* @keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 20px rgba(239, 116, 22, 0.6);
  }
  50% {
    box-shadow: 0 0 30px 15px rgba(239, 116, 22, 0.8);
  }
} */

@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 20px var(--pulse-dark);
  }
  50% {
    box-shadow: 0 0 30px 15px var(--pulse);
  }
}

.loading {
  animation: pulseGlow 2s infinite ease-in-out;
}

@media (min-width: 768px) {
  .container {
    width: 20vw;
    height: 60vh;
    padding: 2%;
  }
}
