.dt-title {
    color: var(--primary-dark);
}
.dt-form {
    
}
.dt-field {
    
}

.dt-field.large-field {
  grid-column: span 2; 
  grid-row: span 2;
}

.cd-zoom-container{
  background-color: var(--bg);
  border: 1px solid var(--primary);
}