.hm-container {
    background-color: var(--bg);
}
.hm-messages {
    background-color: var(--bg);
}


.hm-welcome {

}

.hm-user-tag{

    color: var(--opposite);
}

.hm-user-msg {
    background-color: var(--primary);
    color: var(--bg);
}

.hm-ai-msg {
    background-color: var(--bg-alt);
    color: var(--text);
}

.hm-input-wrapper {}

